/* Apply border-box globally for easier sizing */

body {
    background-color: rgb(255, 255, 255)
}

h1 {
    /*background-color: aquamarine;*/
    text-align: center;
    border-radius: 9999px;
}

#btn_menu {
    display: none;
}

#headnav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 0px 15px;
    border-radius: 2px;

}

#headnav a {
    color: white;
    align-content: center;
}

#headnav button {
    background-color: blueviolet;
    color: white;
    height: 5vh;

}

h3 {
    text-align: center;
    justify-content: center;
}

mark {
    background-color: rgb(223, 223, 85);
    text-transform: uppercase;
}

#imgInfo {
    border: none;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "sandeep_image desc";
    height: 30vh;
    width: 70vw;
    margin: 40px auto;
    column-gap: 50px;
    padding: 20px;
    background-color: rgba(93, 93, 231, 0.459);
    box-shadow: 0px 5px 20px;
}

#sandeep_image {
    grid-area: sandeep_image;
    border: none;
    height: 30vh;
    width: 10vw;
    padding: 5px;
}

#sandeep_image img {
    height: 30vh;
    width: 10vw;
}

#desc {
    grid-area: desc;
    border: none;
    padding: 10px;
    color: green;
}

#desc h3 {
    text-align: left;
    color: black;
}

.pages_link {
    padding: 5px;
    margin: 10px auto;
    width: 50%;
    display: flex;
    justify-content: center;

}

a {
    padding: 8px;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 5px;
    border-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(93, 136, 73, 0.877);
}

.pages_link a:hover {
    background-color: rgb(211, 211, 74);

}

#box_container {
    border: none;
    width: 75%;
    height: 350px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "highlights highlights highlights"
        "hobbies_list prof_exp links";
    /*flex-wrap: wrap;*/
    column-gap: 40px;
    row-gap: 30px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px 20px brown;

}

#highlights {
    grid-area: highlights;

}

#hobbies_list {
    grid-area: hobbies_list;
}

#professional_experience {
    grid-area: prof_exp;
}

#links {
    grid-area: links;
}

#box_container h2 {
    width: 95%;
    text-align: center;
    font-style: oblique;
    color: rgb(207, 41, 41);
    font-weight: 700;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 10px 10px;
}

#box_container h3 {
    background-color: white;
    border-radius: 9999px;
}

#hobbies_list li,
#professional_experience li,
#links li {
    text-align: center;
    color: white;
}

#hobbies_list,
#professional_experience,
#links {
    border: none;
    padding: 15px 25px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 10px 11px brown;

}

#professional_experience ul li {
    margin-left: 40px;
}

#links li {
    list-style-type: none;
}

#links a {
    border: none;
    padding: 4px;
    text-decoration: none;
    color: white;
}

#links a:hover {
    background-color: yellowgreen;
}

#hobbies,
#pro_experience,
#links_url {
    color: brown;
    font-style: oblique;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}

#hobbies_list li,
#professional_experience li {
    list-style-type: none;
    margin-right: 15%;
}

/*This is Media query*/

/*This is for iphone SE*/
@media screen and (max-width:400px) {
    #btn_menu {
        display: block;
    }

    #btn_menu:hover {
        cursor: pointer;
    }

    .pages_link {
        display: none;
        flex-direction: column;
        border: 1px solid black;
        width: 200px;
    }

    #imgInfo {
        height: 95vh;
        column-gap: 90px;
        grid-template-columns: 1fr 2fr;
    }

    #imgInfo img {
        width: 30vw;
        border: 2px solid;
        margin-top: 80%;
    }

    #box_container {
        width: 70vw;
        height: 110vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-template-areas:
            "highlights"
            "hobbies_list"
            "prof_exp"
            "links";
    }

    #professional_experience li {
        text-align: left;
        margin-right: 10px;
    }

    #hireMe {
        white-space: nowrap;
    }

    #page_footer p {
        text-align: center;
    }


}

/*Iphone SE ends*/

/*This is for regular iphone and android phones*/

@media screen and (min-width: 401px) and (max-width:760px) {
    #btn_menu {
        display: block;
    }

    #btn_menu:hover {
        cursor: pointer;
    }

    .pages_link {
        display: none;
        flex-direction: column;
        border: 1px solid black;
        width: 100px;
    }

    #imgInfo {
        height: 50vh;
        column-gap: 90px;
        grid-template-columns: 1fr 2fr;
    }

    #imgInfo img {
        width: 30vw;
        border: 2px solid;
        margin-top: 80%;
    }

    #box_container {
        width: 70vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-template-areas:
            "highlights"
            "hobbies_list"
            "prof_exp"
            "links";
    }

    #professional_experience li {
        text-align: left;
        margin-right: 10px;
    }

    #hireMe {
        white-space: nowrap;
    }

    #page_footer p {
        text-align: center;
    }


}

/*Media query ends here for regular iphone and android phone*/

/*Media query for tablet and ipads*/

@media screen and (min-width: 761px) and (max-width:1025px) {
    #btn_menu {
        display: block;
    }

    #btn_menu:hover {
        cursor: pointer;
    }

    .pages_link {
        display: none;
        flex-direction: column;
        border: 1px solid black;
        width: 100px;
    }

    #imgInfo {
        height: 50vh;
        column-gap: 90px;
        grid-template-columns: 1fr 2fr;
    }

    #imgInfo img {
        width: 30vw;
        border: 2px solid;
        margin-top: 80%;
    }

    #box_container {
        width: 70vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-template-areas:
            "highlights"
            "hobbies_list"
            "prof_exp"
            "links";
    }

    #professional_experience li {
        text-align: center;
        /*margin-right: 10px;*/
    }

    #hireMe {
        white-space: nowrap;
    }

    #page_footer p {
        text-align: center;
    }


}


button {
    border: 2px solid;
    border-radius: 5px;
    border-color: brown;
    background-color: burlywood;
    margin-top: 10px;
    padding: 10px;
    font-family: cursive;
    font-weight: 600;
    color: brown;

}

#page_footer {
    border: none;
    width: 100%;
    height: 10vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 6px;
    background-color: rgba(0, 0, 0, 0.733);
    font-size: 15px;
    font-style: italic;
    color: rgb(245, 243, 243);
    align-items: center;

}

/*This is for Work Experience Page.*/

#wells_fargo {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    border-color: brown;
}

#point_comfort_group {
    padding: 10px;
    margin-top: 10px;
    border: 2px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: brown;
}

#company_images {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wellsFargo_images,
#pcg_img {
    display: flex;
    justify-content: center;
}

#wells_fargo_pic {
    margin-top: 10px;
    padding: 10px;
    height: 100px;
    width: 200px;
    align-content: center;
}

#pcg_pic {
    width: 450px;
    height: 110px;
    align-content: center;
    display: flex;

}

/*This is for iphone SE*/

@media screen and (max-width: 470px) {



    #images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "wells_fargo"
            "pcg_img";
        justify-items: center;

    }

    #wellsFargo_images {
        grid-area: wells_fargo;
    }

    #pcg_img {
        grid-area: pcg_img;
    }

    #wells_fargo_pic {
        display: block;
        margin: 10px auto;
    }

    #pcg_pic {
        width: 70vw;
        margin: 20px auto;

    }

    #wells_fargo {
        width: 90vw;
    }

    #point_comfort_group {
        width: 90vw;
    }
}

/*This is for ipad mini and tablets*/

@media screen and (min-width: 471px) and (max-width: 1025px) {

    #images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "wells_fargo"
            "pcg_img";
        justify-items: center;

    }

    #wellsFargo_images {
        grid-area: wells_fargo;
    }

    #pcg_img {
        grid-area: pcg_img;
    }

    #wells_fargo_pic {
        display: block;
        margin: 10px auto;
    }

    #pcg_pic {
        width: 70vw;
        margin: 20px auto;

    }

    #wells_fargo {
        width: 95vw;
    }

    #point_comfort_group {
        width: 95vw;
    }
}



/*This is for personal project page*/

h3 {
    margin-left: 5px;
}

.project_name {
    text-align: left;
}

#atm_application {
    border: 3px solid;
    border-color: brown;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

#form_for_members {
    border: 3px solid;
    border-color: brown;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

#hangman_game {
    border: 3px solid;
    border-color: brown;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
}

#score_note {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#description_of_table {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#project_evaluation_table {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.row_data {
    font-size: large;
    font-weight: 550;
    color: rgb(112, 98, 124);
}


#project_evaluation {
    overflow-x: auto;
}

/*Media query for phones*/
@media screen and (max-width: 767px) {
    #project_evaluation_table {
        width: 100vw;
    }

    #project_evaluation_table {
        display: flex;
        justify-content: left;
    }

}



/*This is for Form page*/

.form_page #headnav {
    background-image: url(sky_image.jpg);
    height: 170vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: white;

}

.form_page #headnav button {
    background-color: transparent;
}

#infoForm {
    display: grid;
    grid-column-start: 1fr 1fr;
    grid-row-start: 1fr;
    grid-template-areas:
        "personal_info form";
}

form {
    grid-area: form;
}

#personal_info {
    grid-area: personal_info;
    color: white;
    border: 2px solid brown;
    border-radius: 50px;
    width: 40vw;
    padding-left: 1.5%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#personal_info a {
    border: none;
}

#personal_info strong {
    font-style: italic;
}


#fill_out_form {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    font-weight: 600;
    font-size: large;
}

#form {
    width: 800px;
    /*height: 370px;*/
    margin-top: 15px;
    margin: 40px auto;
    padding-top: 1%;
    text-align: center;
    border: none;
    border-radius: 50px;
    border-color: brown;
    background-color: #f3e8ff;
    box-shadow: 0px 5px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form * {
    background-color: transparent;
}

#firstName {
    margin-top: 10px;
}

#form_buttons {
    margin-bottom: 10px;
}

#form_buttons button:hover {
    cursor: pointer;
}

/*Media query for upto 470px*/

@media screen and (max-width:767px) {
    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .form_page #headnav {
        background-image: url(sky_image.jpg);
        min-height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

    }

    #infoForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    form {
        width: 100%;
        height: 150%;
        max-width: 100%;
        max-height: 150%;
        padding: 20px;
        background: #f3e8ff;
        box-sizing: border-box;
    }

    input,
    select,
    textarea {
        width: 70%;
        max-width: 70%;
        display: block;
        box-sizing: border-box;
        margin: auto;
    }

    label {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }

    #personal_info {
        width: 95%;
        color: white;
        border: 2px solid brown;
        border-radius: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


}

/*Media Query for Tablets*/

@media screen and (min-width:768px) and (max-width: 1023px) {
    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .form_page #headnav {
        background-image: url(sky_image.jpg);
        min-height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-around;
        align-items: first baseline;
        color: white;

    }

    #infoForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    form {
        width: 100%;
        height: 150%;
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
        background: #f3e8ff;
        box-sizing: border-box;
    }

    input,
    select,
    textarea {
        width: 70%;
        max-width: 70%;
        display: block;
        box-sizing: border-box;
        margin: auto;
    }

    label {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }

    #personal_info {
        width: 100%;
        font-size: large;
        color: white;
        border: 2px solid brown;
        border-radius: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}



/*This is for Educational Page*/

#education_highlights {
    margin: 30px auto;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
    border-color: brown;
    box-shadow: 0px 10px 20px;
    background-color: rgb(214, 169, 85);
}

#education_highlights p {
    background-color: transparent;
}

#education_highlights p strong {
    background-color: transparent;
}

#education_details {
    margin: 4% auto;
    text-align: center;
    width: 43%;
    border: solid 2px;
    border-radius: 5px;
    border-color: brown;
    background-color: rgb(214, 169, 85);
    padding: 1.5%;
    box-shadow: 0px 5px 10px;
}

.each_element {
    border-radius: 3px;
    padding: 2%;
    background-color: rgb(207, 196, 175);
    box-shadow: 0px 5px 10px;
    overflow-wrap: break-word;
}

#education_details td:nth-child(3),
#education_details th:nth-child(3) {
    width: 80px;
}

#education_details td:nth-child(4),
#education_details th:nth-child(4) {
    width: 200px;
}